body {
  background: black url("/assets/background.avif") no-repeat fixed center;
  color: rgb(27, 126, 225);
}

img {
  height: 20vh;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75vw;
  align-items: center;
  margin: 5vh auto;
  background: black;
  border: 5px ridge gray;
  border-radius: 8px;
  height: fit-content;
  padding-bottom: 1vh;
}

#links {
  display: flex;
  position: fixed;
  left: 9.5%;
  width: 80%;
  margin: -5vh auto;
  justify-self: center;
  flex: 1;
  background: black;
  border: .5vw ridge gray;
  border-radius: .5vw;
}

#links a {
  display: flex;
  flex: auto;
  justify-content: space-around;
}

#with-kiddos-pic {
  padding-left: 40%;
  float: right;
}

li {
  text-align: left;
}

#row {
  display: flex;
  flex-direction: row;
  width: 60%;
}

span {
  color: aqua;
}